/* Header */

#site-header{
  height: 60px;
  background-color: #3983CC;
  font-size: 24px;
}

#site-header img{
  height: 45px;
  padding-top: 5px;
}

/* Content */

#site-content{
  background-color: #F9F9F9;
  font-size: 14px;
  text-align: center;
}

#home #site-content img{
  height: 200px;
}

#report #site-content img{
  width: 50px;
  padding-right: 65px;
}

#sightings-map{
  width: 100%;
  height: 300px;
}

#user-location-map{
  width: 50%;
  float: left;
  display: inline;
}

#report #user-location-map img{
  width: 200px;
  height: 200px;
}

#user-location-info{
  width: 50%;
  float: left;
  display: inline;
}

/* Footer */

#site-footer{
  height: 35px;
  background-color: #3983CC;
  font-size: 12px;
  text-align: center;
}

/* Misc styles */

#sighting-alert-show{
  background-color: #FFF9CE;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  transition: all 1s ease;
}

#sighting-alert-hide{
  background-color: #FFF9CE;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  transition: all 1s ease;
  transform:translateY(-62px);
}

#new-sighting-button{
  background-color: #3983CC;
  font-size: 16px;
}

#map-button{
  background-color: #3983CC;
  font-size: 16px;
}

#report-button{
  background-color: #3983CC;
  font-size: 16px;
}