/* Header */

#site-header{
  height: 60px;
  background-color: #3983CC;
  font-size: 24px;
}

#site-header a{
  
}

/* Content */

div #title-screen{
  width: 100%;
  height: 240px;
  border: 2px solid #a1a1a1;
  background: #dddddd;
  border-radius: 10px;
  overflow: hidden;
}

#cap-logo{
  width: 40%;
  margin-top: 5%;
  margin-left: 45%;
  display: inline;
  float: left;
  z-index: 10;
  position: absolute;
}

#emp-photo{
  margin-left: 3%;
  margin-top: 60px;
  margin-bottom: 0px;
  width: 200px;
  display: inline;
  float: left;
}

#game-title{
  margin-top: 200px;
  margin-left: 0%;
  display: inline;
  float: left;
  z-index: 3;
  position: absolute;
}

#site-content{
  background-color: #F9F9F9;
  font-size: 14px;
}

div #game-image{
  width: 100%;
  height: 300px;
  border: 2px solid #a1a1a1;
  background: #dddddd;
  border-radius: 10px;
  overflow: hidden;
}

/* Footer */

#site-footer{
  height: 35px;
  background-color: #3983CC;
  font-size: 12px;
  text-align: center;
}

/* Misc styles */

#sighting-alert-show{
  background-color: #FFF9CE;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-transition: all 1s ease;
}

#sighting-alert-hide{
  background-color: #FFF9CE;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -webkit-transform:translateY(-62px);
}

#play-button{
  background-color: #3983CC;
  font-size: 16px;
}

#settings-button{
  background-color: #3983CC;
  font-size: 16px;
}

#default-button{
  font-family: 'Roboto condensed', sans-serif;
  color: #333333;
  border: 1px solid #CCCCCC;
  background: linear-gradient(#FFFFFF,#CCCCCC);
}

#correct-button{
  font-family: 'Roboto condensed', sans-serif;
  color: #FFFFFF;
  border: 1px solid #77AF0F;
  background: linear-gradient(#B2DB64,#7EBC0A,#77AF0F);
}

#incorrect-button{
  font-family: 'Roboto condensed', sans-serif;
  color: #FFFFFF;
  border: 1px solid #AD1B1B;
  background: linear-gradient(#E45050,#D52020,#AD1B1B);
}