/* Header/search styles */

.site-header{
  overflow:hidden; 
  position: fixed; 
  width:100%; 
  z-index:100;
}

.inline-search{
  display: inline;
  float: left;
  width: 50%;
}

.inline-search input{
  width: 50%;
}

#clearSearch{
  color: red;
}

.search-options #zipSearch{
  margin-left: 4px;
  width:31%;
}

.search-options #citySearch{
  width:31%;
}

.search-options #zipCitySearch{
  width:35%;
}

.search-options #clearSearch{
  margin-right: 4px;
  width:31%;
}

/* Table/main content styles */

.home-content{
  margin-top:190px;
}

.no-results{
  color:red;
}

#location_map{
  width: 360px;
  height: 360px;
}